nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.nav-title{
    font-weight: 400px;
    font-size: 20px;
}
.hire-me-btn{
    height: 30px;
    width: 120px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkorange;
    border-radius: 12px;
    border: 1px solid wheat;
    color: rgb(245, 236, 236); 
}
.text-primary{
    color: orange;
}
/* banner-style css */
.banner-image {
    position: relative;
}

.banner-image img{
   max-width: 100%;
   height: auto;
} 
.banner-text{
    top: 30%;
    position: absolute;
    color: rgb(29, 29, 26);
    padding: 25px;
    text-align: right;
    margin-left: 50%;

}
.contact-btn{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkorange;
    border-radius: 12px;
    border: 1px solid wheat;
    color: rgb(245, 236, 236); 
}
/* failure area section css */
.failure-image-section{
   height: 100px;
   width: 100px;
}
.failure-text-section{
    top: 120%;
    position: absolute;
    color: rgb(29, 29, 26);
    padding: 25px;
    text-align: right;
    margin-left: 50%;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    background-color: black;
    color: antiquewhite;
   
}
.half-width{
    width: 50%;
    padding-left: 15%;
    padding-top: 10%;
    text-align: left;
}
.half-width img{
    width: 70%;
    padding-right: 2%;
    padding-top: 10%;
}
/* my plan section */
.skills-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    /* margin-left: 70px; */
    
}
.skills-description{
    color: gray;
    text-align: center;
}
/* call now button css */
.call-btn{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 232, 228);
    border-radius: 12px;
    border: 1px solid wheat;
    color: orange; 
}
.call-now-section img{
    height: 300px;
    width: 800px;
    padding-left: 10px;
}
.call-now-text-section{
    top: 275%;
    position: absolute;
    color: rgb(29, 29, 26);
    padding: 25px;
    text-align: left;    
}
/* footer css */

.footer{
    background-color: black;
    color: white;
    padding-left: 10px;
    height: 400px;
    padding-top: 10px;
    
}
.footer-icon{
    display: flex;
    gap: 12px;
}
.Subscribe{
    background-color: black;
    color: white;
    padding-left: 10px;
    height: 400px;
    padding-top: 10px;
}
.footer-half-width{
    width: 50%;
    padding-left: 15%;
    padding-top: 10%;
}
.footer-half-width {
    width: 70%;
    padding-right: 2%;
    padding-top: 10%;
    
}

